<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
</head>
<body>
    <nav style="display: flex;justify-content: center;">
        <h1>Book Store</h1>
    </nav>
    <div>
        {% for i in books %}
            <a href='{{i.order_link}}'>
                <div>
                    <img src='{{i.image_link}}'/>
                </div>
                <div>
                    <p>{{i.name}}</p>
                    <p>{{i.author}}</p>
                </div>
            </a>
        {% endfor %}
    </div>

    <form action="/books" method="post">
        {% csrf_token %}
        <h1>Enter book name</h1>  <input type="text" name="name" >
        <h1>Enter Author name</h1>  <input type="text" name="author" >
        <h1>Enter order link name</h1>  <input type="text" name="order_link" >
        <h1>Enter image link name</h1>  <input type="text" name="image_link" > <br> <br>
        <button type="submit">Add Book</button>
    </form>
</body>
</html>